@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/Ubuntu.ttf);
}

@font-face {
	font-family: 'HemiHead';
	src: url(../fonts/HemiHead.otf);
}

@font-face {
	font-family: 'PoiretOne';
	src: url(../fonts/PoiretOne.ttf);
}

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Light.ttf);
}